* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: var(--main-font);
    text-align: center;
    scroll-behavior: smooth;
}

:root {
    --background-theme: #00c7c780;
    --pallete-dark: #00D1FF;
    --pallete-mid-dark: #569DAA;
    --pallete-mid-light: #87CBB9;
    --pallete-light: #1fdd94;
    --main-font: 'Montserrat', sans-serif;
    --font-color: rgb(32, 32, 32);

    --grad-1: #2ed9ff;
    --grad-2: #00d9eb;
    --grad-3: #00ddc6;
    --grad-4: var(--pallete-light);

    --title-font-size: 1.6rem;
    --subtitle-font-size: 1.4rem;
    --text-font-size: 1.2rem;
    --mobile-title-font-size: 1.3rem;
    --mobile-text-font-size: 1rem;
    --text-font-weight: 500;
    --page-height: 94vh;
    --site-height: 564vh;
    --navbar-height: 6vh;
}