.title {
    font-size: var(--subtitle-font-size);
}

.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: var(--page-height);
    align-content: center;
}

.locations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5vh;
    row-gap: 2vh
}

.local>h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 775px) {
    .local {
        height: calc(var(--page-height) - 20vh);
    }

    .local>h1 {
        padding-bottom: 10px;
    }
}

.local-landscape {
    height: unset !important;

}

@media screen and (max-height:720px) {
    .local {
        padding-top: 3vh;
    }
}

@media screen and (max-width: 400px) {
    .locations {
        margin-bottom: 10vh;
    }
}