.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--page-height);
    margin: auto;

}

.banner-container {
    width: 100%;
}

.banner-image {
    width: 73%;
    max-width: 120vh;
    margin: auto;
}

.banner-title {
    margin: 30px;
    font-size: var(--subtitle-font-size);
    font-weight: 800;
}

.banner-text {
    font-size: var(--text-font-size);
    font-weight: 400;
}

.enrollment-period {
    margin-top: 40px;
    font-size: 30px;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}


.logoIFSP {
    width: 220px;
    margin: 15px;
}




@media screen and (max-width: 670px) {
    .banner {
        margin-bottom: 10vh;
    }

    .banner-title {
        font-size: var(--mobile-title-font-size);
    }

    .banner-text {
        font-size: var(--mobile-text-font-size);
    }

    .enrollment-period {
        font-size: 23px;
    }
}

@media screen and (max-width: 460px) {
    .banner-title {
        font-size: 20px;
    }

    .banner-text {
        font-size: 15px;
    }

    .enrollment-period {
        font-size: 20px;
    }
}

@media screen and (max-width:260px) {

    .banner {
        margin-bottom: 200vh;
        margin-left: 4%;
        margin-top: 2%;
    }

}