.eventos-anteriores {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--page-height);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 10em;

}

.eventos-anteriores h1 {
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.edicao {
    width: 220px;
}

.edicaoBanner {
    width: 240px;
    height: 250px;
    position: relative;
}

.edicaoImage {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    left: 0;
}

.edicaoName {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 10px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edicaoImage:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.edicaoName:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.conteinerEdition {
    margin: auto;
    padding-top: 5%;
}

@media screen and (max-width : 414px) {
    .eventos-anteriores {
        margin-top: 5em;
    }

}

@media screen and (max-width : 400px) {

    .edicaoBanner {
        width: 184px;
        height: 210px;
    }

    .edicao {
        width: 184px;
    }

    .conteinerEdition {
        padding-top: 60%;
    }
}

@media screen and (max-width : 320px) {
    .edicaoBanner {
        width: 175px;
        height: 199px;
    }

    .edicao {
        width: 175px;
    }

    .eventos-anteriores {
        margin-top: 100vh;
        margin-left: 4%;
    }
}

@media screen and (max-height : 680px) {

    .edicaoAuthor {
        font-size: 16px;
        margin: 18px;
        height: 70px;
    }
}