.parallax_layer_back {
    background-image: linear-gradient(to right, rgba(29, 221, 154, .65) 2%, rgba(29, 221, 154, .3), rgba(0, 208, 255, .2) 9%, rgba(0, 208, 255, .1), #fff 15%, #fff 85%, rgba(0, 208, 255, .1), rgba(0, 208, 255, .2) 91%, rgba(29, 221, 154, .3), rgba(29, 221, 154, .65));
    height: 100vh;
    margin-left: -10px;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    width: 100vw;
}

.parallax_layer_base {
    transform: translateZ(0);
}

.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.parallax__layer {
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
}

.scroll-container {
    overflow-x: hidden;
}

.parallax_image {
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.parallax-safari {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(29, 221, 154, .65) 2%, rgba(29, 221, 154, .3), rgba(0, 208, 255, .2) 9%, rgba(0, 208, 255, .1), #fff 15%, #fff 85%, rgba(0, 208, 255, .1), rgba(0, 208, 255, .2) 91%, rgba(29, 221, 154, .3), rgba(29, 221, 154, .65));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 670px) {
    .parallax_layer_back {
        transform: translateZ(-1px) scale(2);
    }
}


/* 
site que eu peguei o parallax
https://keithclark.co.uk/articles/pure-css-parallax-websites/ 
*/

.parallax-image {
    background-image: url('/logos/BackgroundPattern.png');
    position: fixed;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -45%;
    z-index: 0;
    transform: scale(1.0);
}

.parallax-image-safari {
    background-image: url('/logos/BackgroundPattern.png');
    position: fixed;
    width: 200%;
    height: 200%;
    top: -68%;
    left: -45%;
    z-index: 0;
    transform: scale(1.02);
}

.main-content-safari {
    position: relative;
}

@media screen and (max-width: 1024px) {
    .parallax-image {
        width: 534%;
        height: 420%;
        top: -150%;
        left: -220%;
        transform: scale(.2);

    }

    .parallax-image-safari {
        width: 534%;
        height: 350%;
        top: -140%;
        left: -220%;
        transform: scale(.6);
    }

    .parallax_layer_back {
        height: 400vh;
    }
}

@media screen and (max-width: 768px) {
    .parallax-image {
        position: fixed;
        width: 540%;
        height: 430%;
        top: -158%;
        left: -220%;
        transform: scale(.2);
    }

    .parallax_layer_back {
        height: 410vh;
    }

    .parallax-image-safari {
        transform: scale(.2);
        height: 530%;
        top: -210%;
    }
}

@media screen and (max-width: 500px) {

    .parallax-image {
        position: fixed;
        width: 540%;
        height: 430%;
        top: -158%;
        left: -220%;
        transform: scale(.2);
    }

    .parallax_layer_back {
        height: 420vh;
    }
}

.parallax_layer_back_landscape {
    height: 520vh !important;
}