.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--page-height);
    margin-bottom: 10em;
}

.partnersTile {
    background-color: rgba(164, 149, 235, 0.25) 9%, ;
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 80px;
    align-self: center;
}

.partnersTitle {
    margin-top: 10%;
}

@media screen and (max-width: 1366px) {
    .partnersTile {
        padding-bottom: 9%;
    }
}

@media screen and (max-height: 720px) {

    .partners {
        padding-top: 30vh;
    }
}

@media screen and (max-width: 1366px) {
    .partnersTile {
        width: 90%;
        padding-bottom: 20%;
    }
}


@media screen and (max-width: 1280px) {
    .partnersTile {
        padding-top: 6%;
        padding-bottom: 10%;
    }
}


@media screen and (max-width: 1040px) {
    .partnersTile {
        padding-top: 6%;
        padding-bottom: 20%;
    }
}

@media screen and (max-width: 912px) {
    .partnersTile {
        padding-top: 6%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 540px) {
    .partnersTile {
        padding-top: 6%;
        padding-bottom: 60%;
    }
}


.partners-landscape {
    height: unset !important;
}

@media screen and (max-width: 414px) {
    .partnersTile {
        padding-bottom: 52%;
    }
}


@media screen and (max-width: 390px) {
    .partnersTile {
        padding-bottom: 40%;
    }
}

@media screen and (max-width: 300px) {
    .partners {
        margin-bottom: 20vh;
        padding-bottom: 60%;
    }

    .partnersTile {
        width: 80%;
        padding-top: 0%;

    }
}

@media screen and (max-width:260px) {
    .partners {
        margin-top: 300vh;
        margin-bottom: 300vh;
        margin-left: 4%;
    }

}