.menu {
    top: 0;
    z-index: 1;
    width: 100%;
    height: var(--navbar-height);
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu-image>img {
    display: flex;
    width: auto;
    height: 4vh;
    padding-right: 10%;
}

.menu-image {
    display: flex;
    align-items: center;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    top: var(--navbar-height);
    left: 58%;
    display: block;
    border-radius: .8em .8em 0 .8em;
    position: fixed;
    background-color: blueviolet;
    min-width: 12em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: .125em;
    font-size: var(--text-font-size);
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (min-height: 600px) {
    .menu {
        padding-bottom: 2%;
    }

    .dropdown-content {
        margin-left: 5%;
    }

}

@media screen and (min-width: 1027px) {
    .menu {
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    .dropdown-content {
        left: 78%;
        top: 6.8%;
    }

    .menu-image {
        padding-top: 80%
    }

}

@media screen and (max-width: 912px) {
    .menu-image {
        padding-top: 80%;
    }

    .dropdown-content {
        left: 77%;
        top: 6.9%;
    }

}

@media screen and (max-width: 820px) {
    .dropdown-content {
        top: 6.5%;
        left: 74%;
    }

    .menu-image {
        padding-top: 80%
    }

}

@media only screen and (max-width: 768px) {
    .dropdown-content {
        top: 6%;
        left: 70%;
    }
}


@media screen and (max-width:540px) {
    .dropdown-content {
        left: 68%;

    }

    .menu-image {
        padding-top: 10%;

    }
}

@media screen and (max-width:490px) {
    .dropdown-content {
        left: 58%;
    }

}

@media screen and (max-width:430px) {
    .menu-image {
        padding-top: 40%;
    }

}

@media screen and (max-width:390px) {
    .dropdown-content {
        left: 50%;
    }

}

@media screen and (max-width:300px) {
    .dropdown-content {
        left: 40%;
    }

    .menu-image>img {
        padding-right: 15%;
    }

}