.navbar {
    height: var(--navbar-height);
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 50;
    height: 7vh;
}

.navbarConteiner {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 30px;

}

.navbarItem {
    transition: transform 0.2s ease-out;
    padding-left: 20px;
    padding-right: 20px;
    margin: .125em;
    border-radius: .5em;
    font-size: var(--text-font-size);
    font-weight: 600;
}

.navbarLink {
    text-decoration: none;
    color: #FFFF;
    font-size: 20px;
}

.navbarItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}


@media screen and (max-width: 770px) {
    .navbarItem {
        padding-left: 15px;
        padding-right: 15px;
    }

}