.schedule-description {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.conteiner {
    width: 80%;
    height: var(--page-height);


}


.schedule-description>h3 {
    margin: 0 0 1em;
    text-align: center;
    font-weight: light;
    font-size: var(--title-font-size);
}

.schedule-description>p {
    margin: 0 0 1em;
    text-align: center;
    font-weight: light;
    font-size: var(--title-font-size);
}

@media screen and (max-width:1366px) {
    .conteiner {
        padding-bottom: 20%;
    }

}

@media screen and (max-height:950px) {
    .schedule-description {
        height: fit-content;
    }

    .conteiner {
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
}

@media screen and (max-width: 1040px) {
    .conteiner {
        padding-top: 6%;
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 912px) {
    .partner-description {
        height: fit-content;
    }

    .conteiner {
        padding-top: 50%;
    }
}

@media screen and (max-width: 540px) {
    .conteiner {
        padding-top: 1%;
        padding-bottom: 35%
    }

}

@media screen and (max-width: 412px) {
    .conteiner {
        padding-top: 20%;
    }
}



@media screen and (max-width: 390px) {

    .schedule-description>p {
        font-size: 18px;
    }

    .schedule-description>.section-content {
        padding: 20px 0;
    }

    .conteiner {
        padding-bottom: 80%;
    }

}

@media screen and (max-width: 300px) {

    .schedule-description {
        height: fit-content;
    }

    .conteiner {
        height: fit-content;
        margin-top: calc(2*var(--page-height));
        margin-bottom: calc(2*var(--page-height));
        padding-top: 5%;
        padding-bottom: 80%;
    }

}

@media screen and (max-width:260px) {

    .schedule-description {

        margin-left: 4%;

    }

    .conteiner {
        margin-top: 80vh;
        margin-bottom: 80vh;
    }
}