.locationFrame {
    width: 400px;
    height: 300px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.locationFrame>h3 {
    font-size: var(--subtitle-font-size);
    font-weight: bold;
    padding-bottom: 5px;
    text-align: left;
}


.locationFrame>p {
    text-align: left;
}

iframe {
    text-align: center;
    width: 100%;
    height: 235px;
    border-style: solid;
    border-color: rgb(202, 202, 202);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
    .locationFrame {
        width: 300px;
        height: 250px;
    }

    iframe {
        height: 170px;
    }
}

@media screen and (max-width: 1000px) {
    .locationFrame {
        width: 250px;
        height: 250px;
    }

    iframe {
        height: 170px;
    }
}

@media screen and (max-width: 800px) {
    .locationFrame {
        width: 200px;
        height: 250px;
    }

    iframe {
        height: 170px;
    }
}


@media screen and (max-width: 670px) {
    .locationFrame {
        width: 200px;
        height: 200px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 80px;
        margin-right: 80px;
    }

    iframe {
        height: 130px;
    }
}


@media screen and (max-width: 400px) {
    .locationFrame {
        font-size: 12px;
        padding-top: 2%;
        width: 80%;
        align-self: center;
        column-gap: 5px;
    }

}