.about-the-event {
    width: 100%;
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informacoes {
    align-items: center;
    justify-items: center;
}



.about-the-event>.section-content {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.event-description {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 35px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
}

.event-description>h3 {
    margin: 0 0 1em;
    text-align: center;
    font-weight: light;
    font-size: var(--title-font-size);
}

@media screen and (max-width:1366px) {
    .infoconteiner {
        padding-top: 3.5%;
    }
}

@media screen and (max-width:1024px) {
    .infoconteiner {
        padding-top: 5%;
    }

}

@media screen and (max-height:730px) {
    .about-the-event {
        margin-top: 30px;
    }
}

@media screen and (max-width: 540px) {
    .about-the-event {
        margin-top: 50vh;
        margin-bottom: 40vh
    }

    .infoconteiner {
        padding-top: 30vh;
    }

}


@media screen and (max-width: 390px) {
    .about-the-event {
        margin-top: 50vh;
        margin-bottom: 60vh
    }

    .event-description {
        max-width: 90%;
    }

    .about-the-event>.section-content {
        padding: 20px 0;
    }

    .infoconteiner {
        padding-top: 50vh;
    }

}

@media screen and (max-width: 375px) {
    .about-the-event {
        margin-bottom: 80vh
    }

    .infoconteiner {
        padding-top: 100vh;
    }

}

@media screen and (max-width: 300px) {
    .about-the-event {
        margin-top: var(--page-height);
        margin-bottom: 140vh;
    }

    .infoconteiner {
        padding-top: 130vh;
    }

}

@media screen and (max-width:260px) {

    .about-the-event {

        margin-left: 4%;

    }

}