.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--page-height);

}

.partnersTile {
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 80px;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    .partnersTile {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .partnersTile {
        padding-top: 6%;
        padding-bottom: 4%;
    }
}

.partners-landscape {
    height: unset !important;
}