.IFSPLogo {

    width: auto;
    max-width: 130px;
    height: auto;
    margin-top: .5vh;
    margin-left: 1.5vh;
    position: relative;
}

.IFSPLogo:hover {
    transform: scale(1.1);
    cursor: pointer;
}