.IFSPLogo {
    max-width: 170px;
    height: auto;
    margin-top: .6vh;
    margin-left: 1.5vh;
    position: relative;
}

.IFSPLogo:hover {
    transform: scale(1.1);
    cursor: pointer;
}



@media only screen and (max-width: 767px) {
    .IFSPLogo {
        max-width: 150px;
        margin-top: .6vh;
    }
}

@media only screen and (max-height: 800px) {
    .IFSPLogo {
        max-width: 130px;
        margin-top: .5vh;
    }
}