.IFSPLogo {
    max-width: 170px;
    height: auto;
    margin-top: 2vh;
    margin-left: 1.5vh;
    position: relative;
}

.IFSPLogo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-height: 600px) {
    .IFSPLogo {
        padding-bottom: 8%;
    }

}

@media only screen and (max-width: 1024px) {
    .IFSPLogo {
        max-width: 200px;
        margin-top: .6vh;
        padding-top: 25%;
    }
}

@media screen and (max-width: 912px) {
    .IFSPLogo {
        padding-top: 30%;
    }

}



@media only screen and (max-width: 820px) {
    .IFSPLogo {
        max-width: 200px;
        padding-top: 20%;
    }
}

@media only screen and (max-height: 800px) {
    .IFSPLogo {
        max-width: 130px;
        margin-top: .5vh;
    }
}

@media only screen and (max-width: 768px) {
    .IFSPLogo {
        max-width: 200px;
        margin-top: .6vh;
    }
}

@media screen and (max-width: 540px) {
    .IFSPLogo {
        max-width: 130px;
        padding-bottom: 18%;
    }

}

@media screen and (max-width: 430px) {
    .IFSPLogo {
        max-width: 140px;
        padding-bottom: 10%;
    }

}

@media screen and (max-width: 375px) {
    .IFSPLogo {
        max-width: 140px;
        padding-bottom: 16%;
    }

}

@media screen and (max-width:300px) {
    .IFSPLogo {
        max-width: 100px;
        padding-bottom: 15%;
    }

}