.footer {
    width: 100%;
    max-width: 100%;
    padding: .5rem 0;
    background-color: blueviolet;
    height: "auto";
    display: flex;
    align-items: center;
    z-index: 50;
}

.footer>div {
    row-gap: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer_text {
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;

}

.logoGithub {
    margin-top: 0.5vh;
    height: 24px;
}


.footer>div>a {
    text-decoration: none;
}

.footer-ref:hover {
    transform: scale(1.1);
    transition: 100ms linear;
}

.footer-ref {
    transition: transform 0.2s ease-out;
}


@media screen and (max-width: 965px) {
    .footer {
        height: 20vh;
    }
}

@media screen and (max-width: 775px) {
    .footer>div {
        flex-direction: column;
        display: flex;
        align-content: space-evenly;
        height: inherit;

    }

    .footer_text {
        font-size: 1rem;
    }

}

.footer-landscape {
    height: unset !important;
}