.schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--page-height);
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    padding-bottom: 5%;

}

.scheduleTitle {
    color: var(--font-color);
    font-size: var(--title-font-size);
    padding-bottom: 50px;
    font-weight: bold;
}

.schedule>p {
    font-weight: 700;
    font-size: var(--text-font-size);
}


@media screen and (max-height : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }

    .schedule {
        padding-top: 40vh;
    }
}

@media screen and (max-width : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 550px) {
    .schedule {
        margin-bottom: 40vh;
    }
}


@media screen and (max-width: 260px) {
    .schedule {
        margin-left: 4%;
    }

}