.schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: var(--page-height);
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.scheduleTitle {
    color: var(--font-color);
    font-size: var(--title-font-size);
    padding-bottom: 50px;
}

.schedule>p {
    font-weight: 700;
    font-size: var(--text-font-size);
}


@media screen and (max-height : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }
}

@media screen and (max-width : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }
}