.event-status {
    width: 160px;
    height: 30px;

    border-radius: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;


    background-color: #800000;
    color: white;
}


.event-status p {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media screen and (max-width : 400px) {
    .event-status {
        width: 135px;
    }

    .event-status p {
        font-size: 14px;
    }
}