.eventClassification {
    width: 130px;
    height: 30px;

    border-radius: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;


    background-color: rgba(88, 88, 88, 0.4);
    color: white;
}