.popUpTeste {
    width: 550px;
    max-height: 90%;
    position: absolute;
    top: 53vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 2px 2px #c4c4c4;

    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 15px;
    outline: none;
    padding: 20px;
}

.popUpOverlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(164, 149, 235, 0.6);
}

.popUpDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;

    position: relative;
    top: 25%;
}

.popUpDescription>h2 {
    margin-bottom: 10px;
}

.popUpDescription>h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.badge-line {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.inline {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.badge-line p {
    font-weight: var(--text-font-weight);
}

.popUpDescription>p {
    font-weight: var(--text-font-weight);
    margin-bottom: 20px;
}

@media screen and (max-width: 1120px) {
    .popUpTeste {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .popUpTeste {
        width: 55%;
    }
}

@media screen and (max-width: 820px) {

    .popUpTeste {
        width: 65%;
    }
}

@media screen and (max-width: 650px) {
    .inline {
        flex-direction: column;
        gap: 10px
    }
}

@media screen and (max-width: 480px) {
    .popUpTeste {
        width: 75%;
    }

    .modalTitle {
        font-size: 1.3em;
    }

    .description-container {
        text-align: left;
    }
}

@media screen and (max-height: 860px) and (max-width: 480px) {
    .popUpTeste {
        width: 600px;
        max-width: 90%;
    }

    .description-container {
        max-height: 150px;
    }
}

@media screen and (max-height: 750px) {
    .description-container {
        max-height: 130px;
    }

    .popUpDescription>p {
        font-weight: var(--text-font-weight);
        margin-bottom: 13px;
    }

    .badge-line {
        margin-bottom: 13px;
    }

    .popUpTeste {
        padding: 0px;
    }

}