.tabs {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.popUpEventTab {
    width: 100%;
    margin-bottom: 20px;
}

.description-container {
    width: 100%;
    overflow-x: auto;
    height: 240px;
    padding: 15px;
    background-color: rgb(248, 248, 248);
    border-radius: 0 0 10px 10px;
}

.description-container p {
    text-align: justify;
    font-weight: var(--text-font-weight);
}


.description-container::-webkit-scrollbar {
    width: 5px;
}

.description-container::-webkit-scrollbar-thumb:hover {
    background: blueviolet
}

.description-container::-webkit-scrollbar-thumb {
    background: blueviolet;
    border-radius: 5px;
}

.description-container::-webkit-scrollbar-corner {
    size: 0;
}


@media screen and (max-width: 480px) {
    .description-container {
        text-align: left;
    }
}

@media screen and (max-height: 840px) and (max-width: 480px) {
    .description-container {
        max-height: 150px;
    }
}

@media screen and (max-height: 750px) {
    .description-container {
        max-height: 130px;
    }
}