.tab {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: --title-font-size;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.selected {
    background-color: rgb(248, 248, 248);
}

.not-selected {
    background-color: rgb(236, 236, 236);
}

.tab:hover {
    cursor: pointer;
}