.partnerImage img {
    max-height: 300px;
    max-width: 300px;
    align-self: center;
    max-width: auto;
    max-height: auto;
}

.partnerImage {
    width: 140px;
    height: 140px;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1550px) {
    .partnerImage img {
        max-height: 240px;
        max-width: 240px;
    }

    .partnerImage {
        width: 100px;
        height: 110px;
    }
}

@media screen and (max-width: 1280px) {
    .partnerImage img {
        max-height: 200px;
        max-width: 200px;
    }

    .partnerImage {
        width: 110px;
        height: 110px;
    }
}


@media screen and (max-width: 1100px) {
    .partnerImage img {
        max-height: 200px;
        max-width: 200px;
    }

    .partnerImage {
        width: 90px;
        height: 90px;
    }
}


@media screen and (max-width: 1000px) {
    .partnerImage img {
        max-height: 160px;
        max-width: 160px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        margin-left: unset;
        margin-right: unset;
    }
}

@media screen and (max-width: 800px) {
    .partnerImage img {
        max-height: 130px;
        max-width: 130px;
    }

    .partnerImage {
        width: 65px;
        height: 65px;
    }
}

.partner-image-landscape {
    height: unset !important;
}